@import "tailwindcss";

@theme {
  /* Font */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  /* Lime */
  --color-lime: #d8db2f;

  /* Slate */
  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6b94a8;
  --color-slate-300: #9abed5;
  --color-slate-100: #e4f4fd;

  /* White */
  --color-white: #ffffff;

  /* Red */
  --color-red: #d73328;
}

@utility text-preset-1 {
  font-family: var(--font-jakarta);
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: -1px;
}

@utility text-preset-1-mobile {
  font-family: var(--font-jakarta);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-jakarta);
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
}

@utility text-preset-3 {
  font-family: var(--font-jakarta);
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
}
@utility text-preset-3-error {
  font-family: var(--font-jakarta);
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  color: white;
}

@utility text-preset-4 {
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

@utility text-preset-5 {
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
